
.task-container {
    background-color: rgb(214, 207, 146);
    width: 20rem;
    height: 300px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: -3px 3px 10px 5px rgba(143, 139, 95, 0.743);
    border: 1px solid #625f413e;
    display: grid
}

.task-container:hover {
    transform: translate(-3px, -3px);
    box-shadow: none;
}

.upper-content {
    width: 100%;
    display: flex;
    justify-content: end;
}

.delete-btn {
    width: 35px;
    height: 35px;
    background-color:transparent;
    border: none;
}

.delete-btn:hover {
    cursor: pointer;
}

.delete-btn svg {
    width: 30px;
    height: 30px;
}

.upper-content {
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.upper-content p {
    height: 5px;
    padding: 5px 0;
    font-weight: bold;
    color: #625f46;
}

.bottom-content {
    width: 100%;
}

.task-text {
    width: 100%;
    word-break: break-all;
    text-align: center;
}